@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Cinema Web Application!</h1>
</div>
<p class="text-center mt-3">
    Already have an account?
    <a asp-action="SignIn" asp-controller="Account" class="text-primary">Sign in</a>
</p>
<p class="text-center mt-3">
    Don't have an account?
    <a asp-action="SignUp" asp-controller="Account" class="text-primary">Sign up</a>
</p>
